{% extends 'base.html' %}
{% block beforehead %}
<style>
    .comment-avatar {width: 50px;height: 50px}
    .uk-width-2-3 > h3 {margin-top: 80px;}
    .commentlist {margin-bottom: 60px;
                    margin-top:60px}
    .commentlist  p {color: #a19999}
</style>
<script>
    $(function () {
        var vm = new Vue({
            delimiters:['${', '}'],
            el:'#comment',
            data:{
                arr:[],
                comments:[],
                newcomment:'',
                action:'/api/{{blog.id}}/comment'
            },
            mounted: function () {
                this.$http.get(this.action).then(function (response) {
                    vm.comments = JSON.parse(response.body);
                })
            },
            methods:{
                postcomment: function () {
                    Vue.http.options.emulateJSON = true;
                    this.$http.post(this.action, {'newcomment':this.newcomment}).then(function (response) {
                        vm.comments.push(JSON.parse(response.body));
                        vm.newcomment = ''
                    },function (response) {
                        alert(response)
                    })

                }
            }
        });
        window.vm = vm;
    })
</script>
{% endblock %}
{% block content %}
<div class="uk-width-2-3">
    <article class="uk-article">
        <h3 class="uk-article-title">{{blog.name}}</h3>
        <p class="uk-article-meta">发表时间：{{blog.created_at|totime}}</p>
        <p>{{blog.content|tomarkdown|safe}}</p>
    </article>
</div>
<div id="comment" class="uk-width-2-3">
   <div class="commentlist">
    <h3>评论</h3>
    <hr>
    <div v-if="comments.length"  >
            <article v-for="comment in comments" class="uk-comment">
                <header class="uk-comment-header">
                    <img class="uk-comment-avatar comment-avatar" :src="comment.user.image?'/static/avatar/'+comment.userinfo.image+'.jpg':'/static/avatar/default.png'"  alt="">
                    <h4 class="uk-comment-title">${comment.userinfo.name}</h4>
                    <div class="uk-comment-meta">发表于：${comment.created_at}</div>
                </header>
                <div class="uk-comment-body">${comment.content}</div>
                <hr class="uk-article-divider">
            </article>

        </div>
       <div v-else>
            <p>还没有评论、</p>
        </div>
    </div>
    {% if ctx.request.user %}
    <div class="newcomment">
        <h3>发表评论</h3>
        <hr>
        <form @submit.prevent="postcomment" class="uk-form">
            <div class="uk-form-row">
                <label class="uk-form-lable">评论：</label>
                <div class="uk-form-control">
                <textarea v-model="newcomment" rows="4" cols="60" placeholder="请输入评论" class="uk-width-1-1"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button  type="submit" value="提交" class="uk-button uk-button-primary">
                    <i class="uk-icon-save"></i>提交</button>
            </div>
        </form>
    </div>
    {% else %}
    <a class="uk-button-primary" href="/login">
        <button class="uk-button uk-button-primary">登陆后发表评论</button>
    </a>
    {% endif %}

</div>


{% endblock %}
