{% extends 'base.html' %}
{% block title %}编辑日志{% endblock %}
{% block beforehead %}
<style>
    #loading {display: none}
</style>
<script>
$(function () {
    var vm = new Vue({
        el: '#vm',
        {% if blog %}
            data:{
            name:'{{ blog.name }}',
            summary:`{{ blog.summary }}`,    //多行字符串
            content:`{{ blog.content }}`,
            blogid:'{{ blog.id }}'
            },
        {% else %}
            data:{
            name:'',
            summary:'',
            content:''
        },
        {% endif %}

        methods:{
            submit:function () {
                //$http默认以request payload上传，改成headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                Vue.http.options.emulateJSON = true;
                this.$http.post('/api/create_blog', vm.$data).then(function (response) {
                    return location.assign('/');
                },function (response) {
                    alert(response);
                })
            }
        }
    });
    window.vm = vm;
})
</script>

{% endblock %}

{% block content %}
    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading"  class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-2-3">
        <form @submit.prevent="submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">标题:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="标题" class="uk-width-1-1"
                           {% if blog %}value="{{ blog.name }}"{% endif %}
                    >
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">摘要:</label>
                <div class="uk-form-controls">
                    <textarea v-model="summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;">
                        {% if blog %}{{ blog.summary }}"{% endif %}
                    </textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">内容:</label>
                <div class="uk-form-controls">
                    <textarea v-model="content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;">
                        {% if blog %}{{ blog.content }}"{% endif %}
                    </textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>
{% endblock %}

