{% extends 'base.html' %}
{% block beforehead %}
<script>
    $(window).load(function () {
        var testblogs;
         var vm = new Vue({
                el: '#vm',
                data:{
                    name:'zhengyi',
                    age:24,
                    blogs:testblogs,
                    postname:{'inputname':''}

                },
                methods:{

                    postsomeblog:function () {
                        Vue.http.options.emulateJSON = true;
                        this.$http.post('/test',vm.postname).then(function (response) {
                         alert(JSON.stringify(response));
                            vm.blogs = response;
//                            vm.blogs.push(response.json());
//                            vm.set('blogs', response);
                            alert('ok')
                        },function (response) {
                            alert('error'+ response.status)

                        })
            }
                }

            });
            window.vm = vm;
    });

</script>
{% endblock %}
{% block content %}
<div id="vm">
    <p v-text="name"></p>
    <p v-text="age"></p>

    <form @submit.prevent="postsomeblog">
    名字<input v-model="postname.inputname" name="testvalue">
        <input  type="submit" value="j-enter">
    </form>
</div>
{% endblock %}